$tc-primary-palette: (
  50: #E8F5E9,
  100: #C8E6C9,
  200: #A5D6A7,
  300: #81C784,
  400: #66BB6A,
  500: #4CAF50,
  600: #43A047,
  700: #388E3C,
  800: #2E7D32,
  900: #1B5E20,
  A100: #B9F6CA,
  A200: #69F0AE,
  A400: #00E676,
  A700: #00C853,
  contrast: (
    50: #09150A,
    100: #09150A,
    200: #09150A,
    300: #09150A,
    400: #09150A,
    500: #09150A,
    600: #09150A,
    700: #09150A,
    800: #F1FEF2,
    900: #F1FEF2
  )
);

$tc-accent-palette: (
  50: #f1e5f0,
  100: #ddbedb,
  200: #c794c3,
  300: #b06cab,
  400: #9f509a,
  500: #8e388a,
  600: #823384,
  700: #722d7b,
  800: #642871,
  900: #4a205f,
  contrast: (
    50: #231522,
    100: #231522,
    200: #231522,
    300: #231522,
    400: #fff0fe,
    500: #fff0fe,
    600: #fff0fe,
    700: #fff0fe,
    800: #fff0fe,
    900: #fff0fe
  )
);
