@use '@angular/material' as mat;

@import '../material/palettes.scss';

$tc-primary-typography: mat.define-typography-config(
  $font-family: 'Montserrat',
);

@include mat.core($tc-primary-typography);

$tc-primary: mat.define-palette($tc-primary-palette, 700);
$tc-accent: mat.define-palette($tc-accent-palette, 500);

$tc-light-theme: mat.define-light-theme((
  color: (
    primary: $tc-primary,
    accent: $tc-accent,
  ),
));

@include mat.all-component-themes($tc-light-theme);
